<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路 | 首頁
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
    body
        include nav.pug

        h2 最新消息

        include footer.pug