* {
    margin: 0;
    padding: 0;
}
html,body {
    font-family: 微軟正黑體;
    text-align: center;
    background-color: #faf7f0;
}

#banner {
    background-image: url(img/Banner.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    /* calc 計算 - CSS 計算數字 + - * / */
    height: calc(100vw / 2.2);
}
nav {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}
.logo {
    width: 300px;
}
.link {
    float: right;
    padding: 40px 0;
}
.link a {
    text-decoration: none;
    color: white;
    margin-right: 45px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
    padding: 8px;
    
}
.link a:hover {
    background-color: #ffe048;
    color: black;
    transition: 0.6s
}

/* 品牌區塊 */
#brands {
    text-align: center;
    color: #58451a;
}

#brands p {
    width: 570px;
    margin: 0 auto;
    padding: 30px;
    line-height: 2;
    /* 透明度 0 - 1 */
    opacity: 0.6;
    /* 字距 */
    letter-spacing: 6px;
}


/* 標題區塊 */
.title-box {
    text-align: center;
    color: #58451a;
}
.title {
    font-size: 1.5em;
    padding: 10px 0;
}

.title::before {
    content: "＼";
    padding-right: 20px;
}

.title::after {
    content: "／";
    padding-left: 20px;
}

.title-box h1 {
    font-size: 1.6em;
}

/*產品區塊*/
#product {
    /*顯示模式:格線*/
    display: grid;
    /*格線-框架-欄位: 欄位尺寸1 欄位尺寸2 ... 欄位尺寸N gtc */
    grid-template-columns: auto auto auto;
    /*欄位間隔*/
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
}
#product img {
    width: 100%;
}

.product-box {
    padding: 0 10px;
}
.product-box a {
    text-decoration: none;
}
.product-box h2 {
    color: #fbab13;
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    text-align: center;
}
.product-box p {
    color: black;
    font-size: 18px;
    line-height: 1.5em;
}
.product-box hr {
    height: 3px;
    background-color: #bdac90;
    border: 0;
    margin: 15px 0;
}

.btn-big {
    display: inline-block;
    text-decoration: none;
    width: 280px;
    height: 40px;
    line-height: 40px;
    background: #642200;
    color: white;
    text-align: center;
    font-size: 17px;
    border: 2px solid #642200;
    transition: 0.2s;
    margin: 50px;
}
.btn-big:hover {
    background-color: transparent;
    color: #642200;
    border: 2px solid #642200;
}

.small-line {
    background-image: url(img/small-line.png);
    height: 5px;
    background-repeat: repeat-x;
}

#news {
    height: 400px;
    padding: 0 300px;
}
#news #text {
    width: 300px;
    float: left;
    margin-left: ;
}
#news h2{
    color: #ffd471;
}
#news p {
    color: #607a93;
    padding: 10px;
}
#news img {
    float: right;
    margin-right: 5%;
}

footer {
    background-color: #642200;
    padding: 20px;
    color: white;
    font-size: 0.7em;
}

/*RWD*/
/* 媒體為螢幕 並且 寬度大於 1024px - 桌機*/
@media screen and (min-width: 1024px) {
  
}
/* 媒體為螢幕 並且 寬度大於 1023px - 平板*/
@media screen and (max-width: 1023px) {
    .link {
        float: none;
        padding: 20px 0;
    }
    #product {
        grid-template-columns: 1fr 1fr;
    }
    #news {
        padding: 0;
        height: 100%;
    }
    #news #text {
        width: 300px;
        text-align: center;
        margin: auto;
        float: none;
    }
    #news img {
        float: none;
        margin-right: 0%;
    }
}
/* 媒體為螢幕 並且 寬度小於 767px - 手機*/
@media screen and (max-width: 767px) {
    nav {
        padding: 10px 0;
    }
    .link {
        float: none;
        padding: 20px 0;
    }
    .link a {
        margin-right: 0px;
        letter-spacing: 1px;
    }
    .logo {
        width: 200px;
    }
    #product {
        grid-template-columns: 1fr;
    }
    #brands p {
        width: 80%;
    }
    #brands > img {
        width: 100%;
    }
    #news img {
        width: 100%;
    }
}